@font-face {
  font-family: main;
  src: url("./fonts/DancingScript-VariableFont_wght.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101010;
}
main button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 8rem;
  font-size: 6rem;
  background-color: #30778f;
  border: none;
  border-radius: 3rem;
  font-family: main;
  box-shadow: 0px 0px 10px #232222;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
main button:hover {
  scale: 1.2;
  border-radius: 5rem;
  background-color: #467961;
}
