@font-face {
  font-family: section;
  src: url("./fonts/NewRocker-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
main {
  width: 100%;
  height: 100%;
  background-color: #131313;
  display: flex;
  justify-content: center;
  align-items: center;
  section {
      border-radius: 1rem;
    width: 500px;
    height: 500px;
    background-color: #2f7070;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 16px #1a8f81;
    gap: 4rem;
    h1 {
      color: #14afd5;
      font-size: 7rem;
      font-family: section;
      font-weight: 800;
    }
    .btn {
      display: flex;
      gap: 3rem;
      button {
        padding: 1rem 1.5rem;
        border-radius: 1rem;
        font-size: 1.7rem;
        font-weight: 700;
        border: none;
        background-color: rgb(128, 194, 213);
        -webkit-text-stroke: 1px rgb(5, 55, 57);
        color: transparent;
        &:hover{
             background-color: transparent;
             color:#fff;
             border:3px solid black;
             border-radius:0.1rem ;
            box-shadow: 0px 0px 4px #000;
}
      }
    }
  }
}
